.footer-row {
  background-color: rgba(255, 0, 0, 0.91);
  background-color: #fff;
  padding: 10px 20px;
  color: #666;
  max-width: 100%;
  position: fixed;
  bottom: 0;
  -webkit-box-shadow: -5px 0px 30px rgba(0, 0, 0, .7);
  box-shadow: -5px 0px 30px rgba(0, 0, 0, .7);
}

.footer-item {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
}

.footer-item a {
  color: #666;
}

.footer-item a:hover {
  text-decoration: none;
}

.footer-item.active,
.footer-item.active a {
  color: rgba(255, 0, 0, 0.91);
}
