.header-row {
  background-color: rgb(255, 0, 0);
  padding: 10px 20px;
  color: #fff;
  max-width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.fa-search,
.fa-bars {
  cursor: pointer;
}

.header-label {
  /* width: 150px; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
